# Local Directus config
# https://docs.directus.io/self-hosted/config-options.html

KEY=some-random-key
SECRET=some-random-secret-key

PUBLIC_URL=http://localhost:8055

# ADMIN_EMAIL=dev@alexlotte.ca
# ADMIN_PASSWORD=password

# If you want to use sqlite, make sure prod uses the same database.
# Otherwise snapshot.yml will be incompatible.
# DB_CLIENT=sqlite3
# DB_FILENAME=./directus-starter.db

DB_CLIENT=pg
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=directus
DB_USER=postgres
DB_PASSWORD=secret
# DB_HOST=host.docker.internal

EXTENSIONS_PATH=./extensions
EXTENSIONS_AUTO_RELOAD=true

STORAGE_LOCATIONS=local
STORAGE_LOCAL_DRIVER=local
STORAGE_LOCAL_ROOT=./uploads

EMAIL_FROM=no-reply@mailing.alexlotte.ca
EMAIL_TRANSPORT=mailgun
EMAIL_MAILGUN_API_KEY=xxxxxxxxx
EMAIL_MAILGUN_DOMAIN=mailing.alexlotte.ca
EMAIL_VERIFY_SETUP=true

PASSWORD_RESET_URL_ALLOW_LIST=http://localhost:3000/auth/password/reset
